.card {
  display: flex;
  width : 500px;
  height : 500px; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border : 1px solid lightgray;

  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.15);
}
